.row{
  width: -webkit-fill-available;
}

.snip1268{
  margin-left: 3.9rem;
}
.btn {
    border: none;
    display: inline-block;
    background-color: buttonface;
}

 .imageContainer{
  height: 310px;
}

.image{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* On mouse-over */
.btn:hover {background: #FF7700;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
