.snip1268{
  margin-left: 3.9rem;
}
.btn {
    border: none;
    display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #FF7700;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
