
.card {
    border: none;
}

.transbox{
  left:50%;
  height: 100px;
  transform:translate(-50%,-50%);
  text-align:center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background:rgba(255,255,255,0.7);
  background-clip: border-box;
}

.transbox p {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}
